---
layout: minimal-no-sidebar
title: "About me"
permalink: /about/index.html
description: "Learn more about my hobbies, interests, and background"
---
<style>
.d2mh {
    background-image: url("https://raw.githubusercontent.com/bontscho/dota2-minimap-hero-sprites/master/assets/images/minimap_hero_sheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.d2mh.legion_commander, .d2mh.npc_dota_hero_legion_commander, .d2mh.hero-104 { 
    background-position: -320px -192px;
}
.d2mh.juggernaut, .d2mh.npc_dota_hero_juggernaut, .d2mh.hero-8 { 
    background-position: -224px -32px;
}
.d2mh.luna, .d2mh.npc_dota_hero_luna, .d2mh.hero-48 { 
    background-position: -32px -160px;
}
.d2mh.enigma, .d2mh.npc_dota_hero_enigma, .d2mh.hero-33 { 
    background-position: -96px -32px;
}
</style>
<img itemprop="image" class="img-rounded about_perfil" src="{{site.profile_picture}}" alt="My profile">

<h2>About Me</h2>
<div id="blurb">
	<p>Hey, I'm <b>Nick</b> -- a technologist, hacker, and engineer working to improve experiences for developers, building some cool things along the way.</p>
	<p>Currently, I work as a <i>Technical Evangelist</i> at <a href="https://aws.amazon.com/">Amazon Web Services</a>, helping developers more effectively utilize cloud computing.

	<p>I particularly enjoy working with <a href="https://aws.amazon.com/machine-learning">AI + Machine Learning</a>, and always enjoy finding ways to incorporate my passion for gaming and esports into my work. I used to be a serial hackathon attendee while in college, and have written a bit about my experience at those events <a href="https://stories.mlh.io/looking-back-at-a-year-of-life-changing-hackathons-fc64eec916d7">here</a> and <a href="https://medium.com/@nicholasmwalsh/highlights-from-another-year-of-hackathons-fb2a7ac7e170">here</a>.
	</p>

</div>

<div class="aboutme">
		<h3>Some of my recent talks are:</h3>
		<ul class="recent">
			{% for talk in site.talks %}
				<li><a href="{{ talk.url}}" target="_blank"><h3 class="project-name" itemprop="name">{{ talk.name }}</h3></a></li>
			{% endfor %}
		</ul>
</div>
<div class="aboutme">
		<h3>Some of my recent notable projects are:</h3>
		<ul class="recent">
			{% for project in site.projects %}
				<li><a href="{{ project.url}}" target="_blank"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
			{% endfor %}
		</ul>
</div>

<div id="hobbies">
	<h3>Hobbies</h3>
		<div id="gaming">
			<ul>
			<h5>🖥 Gaming/Esports</h5>
				<p> It'd be a shame for me to not mention video games, as I've played thousands of hours over the years.
					Video games have brought me some of my closest friends and have helped me grow immensely (running a WoW guild is more like running a company than one would imagine).
					<br><br>
					Lately, I've been playing a lot of:
				</p>
				
			<li>Dota2
				(
					<i class="d2mh legion_commander"></i>
					<i class="d2mh juggernaut"></i>
					<i class="d2mh luna"></i>
					<i class="d2mh enigma"></i>	
					<i>#NAdota</i>
				)
			</li>
			<li>Counter Strike: Global Offensive</li>
			<li>Fallout</li>
			<li>League of Legends</li>
			<li>World of Warcraft (been getting back into Classic recently)</li>
			</ul>
		</div>
		<div id="sports">
			<ul>
				<h5>💪 Sports/Fitness</h5>
				<p>Having been an athlete my whole life, fitness and team sports are some of my favorite
					outlets for self-improvement and stress relief.
					Moving to the Bay Area has been great for my health, I've mainly been doing a lot of:
				</p>
				<li>🏐 Volleyball (weekly open gyms/tournies + sand courts at Stanford)</li>
				<li>⛰ Hiking (More local trails than anyone could count!) </li>
				<li>🏋 Weightlifting (Nonunique, but something I've been taking more seriously lately)</li>
			</ul>
		</div>
		<div id="writing">
				<ul>
					<h5>✍ Content Creation</h5>
					<p>Despite my job involving a solid amount of <a href="https://blog.datmo.com/" target="_blank">writing</a> and teaching for work, I've always been scared of losing my
						informal communication abilities that I've picked up through debate, research, and other avenues over the years.
						Blogging has helped me keep these skills sharp, and posting publically has helped me hold myself accountable. 
					</p>
					<li>🚫 <a href="https://medium.com/@nicholasmwalsh/twitter-cyber-harassment-deconstructed-aabd1eb9c5ce">Twitter Cyber Harassment, Deconstructed </a></li>
					<li>📣 <a href="https://medium.com/devrel-summit/event-technical-evangelism-is-a-game-of-inches-314de083bb8">Event Technical Evangelism is a Game of Inches</a></li>
					<li>🎮 <a href="https://medium.com/@nicholasmwalsh/the-issue-of-current-front-facing-quantitative-performance-metrics-in-blizzards-overwatch-and-bf040576f393">The case for meaningful performance metrics in Blizzard's Overwatch</a></li>
					<li>💻 <a href="https://medium.com/@nicholasmwalsh/zero-to-hero-in-36-hours-a-hackathon-project-guide-e7aeb5989c74">Zero to Hero: a hackathon project starter guide</a></li>
					<br>
					<p>
						For this coming year, I'm looking forward to delivering on my promise to myself
						to create more projects related to data, gaming, and esports, particularly with new mediums
						that excite me like Twitch streaming and Youtube videos.
					</p>
				</ul>
			</div>
			<div id="random">
					<ul>
						<h5> More++</h5>
						<p>I have so many interests (for better or for worse). Easily, the biggest thing I wish for is more time
							in the day to be able to get around to all of them.
						</p>
						<li>🎖️ Coaching/Mentoring (Volleyball, Speech & Debate, Tech) </li>
						<li>🚗 Working on my car (I bought it off a farm and rebuilt it over a summer!)</li>
						<li>📺 Anime (Favorites: Neon Genesis Evangelion, Jojo's Bizarre Adventure, Code Geass, Gurren Lagann, Megalobox, Haikyuu!, My Hero Academia) </li>
					</ul>
				</div>
			

		

</div>

