<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">「 {{site.username}} 」</span>
        </h1>

        <div class="icons-home" style="max-width:98%">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>
            <!-- Currently leaving this out bc pushes buttons to two lines on mobile
            <a aria-label="About me" title="Find out about me" href="/about">
                    <svg class="icon icon-person"><use xlink:href="#icon-person"></use></svg>
            </a>-->

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my GitHub profile" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>
            
            <a aria-label="My Medium" title="Show my Medium blog" target="_blank" href="https://www.medium.com/@{{site.medium_username}}">
                <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="Show my LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>

            <!-- Will implement Blog post RSS feed in the future
            <a aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>-->
        </div>

        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}" target="_blank">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
        <br><br>
        <!--<h3 style="font-family: pokemon-font; color: white;">-->
        <h3 class="site-tagline">
            <p>[ Press A for nav menu! ]<p></p>
        </h3>
               
        <!-- Blog migration coming soon
        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Will take my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
        -->
        
        {% include ash-pikachu.html %}
    </div>
    {% include menu-search.html %}
</header>
